*
{
  font-family: JetBrains Mono Regular Nerd Font Complete Mono, sans-serif;
  font-size: 17px;
  color: #d8dee9;
  transition: 0.5s;
}

*:hover
{
  transition: 0.5s;
}

window#waybar
{
  background-color: #2e3440;
  border-radius: 15px;
}

#workspaces button
{
  padding: 0 5px;
  border: none;
  outline: none;
  background-color: rgba(180,200,255,0.1);
  margin: 0 3px;
  min-width: 1.5rem;
  border-radius: 0.63rem;
}

#workspaces button.focused
{
  background-color: rgba(180,200,255,0.2);
}

#workspaces button:hover
{
  background: none;
  background-color: rgba(180,200,255,0.3);
}

#workspaces,
#clock,
#battery,
#network,
#language,
#tray,
#pulseaudio,
#custom-recorder
{
  border-style: solid;
  border-width: 3px;
  border-color: #81a1c1;
  padding: 3px 10px;
  margin: 5px 0;
  min-width: 2rem;
  border-radius: 0.7rem;
}

#clock
{
  margin-right: 5px;
}

#workspaces
{
  margin-left: 5px;
  padding: 3px;
}
